---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=education
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83-sedF1ojKgUG58C54l5JP//WnvH8"
    body:
      encoding: UTF-8
      string: '{"activity":"Study a foreign language","type":"education","participants":1,"price":0,"link":"","key":"9765530","accessibility":0.1}'
  recorded_at: Tue, 25 Apr 2023 15:46:27 GMT
recorded_with: VCR 6.1.0
